flows (1).json
[{"id":"b1b11140.4e4ef","type":"inject","z":"66cb5671.09da98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"hello","payloadType":"str","x":111,"y":61,"wires":[["719a138e.50ea8c"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"66cb5671.09da98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":401,"y":87,"wires":[]},{"id":"7d45990d.0571c8","type":"function","z":"66cb5671.09da98","name":"","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["dc39d44.65cc428","4e1be644.30b428"]]},{"id":"719a138e.50ea8c","type":"watson-conversation-v1","z":"66cb5671.09da98","name":"","workspaceid":"80a054aa-ca16-4b68-930e-1955841e8b55","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/07fe4281-b9b0-4ab2-b15f-c7de6ee1fa1b","timeout":"","optout-learning":false,"x":280,"y":200,"wires":[["7d45990d.0571c8","f2f2649a.0d0d98"]]},{"id":"f9af8829.502d28","type":"ui_form","z":"66cb5671.09da98","name":"","label":"","group":"8e2abda4.4eb91","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"a","type":"text","required":true,"rows":null}],"formValue":{"a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":160,"y":360,"wires":[["d2983606.c76868"]]},{"id":"d2983606.c76868","type":"function","z":"66cb5671.09da98","name":"","func":"msg.payload = msg.payload.a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":460,"wires":[["719a138e.50ea8c"]]},{"id":"dc39d44.65cc428","type":"ui_text","z":"66cb5671.09da98","group":"8e2abda4.4eb91","order":1,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":440,"wires":[]},{"id":"4e1be644.30b428","type":"debug","z":"66cb5671.09da98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":200,"wires":[]},{"id":"8e2abda4.4eb91","type":"ui_group","name":"MovieTicketingBot","tab":"705fdfc8.122d3","order":1,"disp":true,"width":"6","collapse":false},{"id":"705fdfc8.122d3","type":"ui_tab","name":"Talk to your Bot","icon":"dashboard","disabled":false,"hidden":false}]